.page1 {
  padding-top: 75px;
  height: 100vh;
  width: 100%;
  background-color: #2c8dfb;
  position: relative; }

.page1__text {
  z-index: 2;
  margin-left: 100px;
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  font-size: 5em; }
  @media (max-width: 900px) {
    .page1__text {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 4em;
      margin-top: 10px;
      margin-left: 50px; } }
  @media (max-width: 684px) {
    .page1__text {
      font-size: 8vw;
      margin-top: 10px;
      margin-left: 10px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.page1__img {
  z-index: 0;
  position: absolute;
  top: 100px;
  right: 0;
  height: 60vh;
  width: 50vw; }
  @media (max-width: 900px) {
    .page1__img {
      top: 30vh;
      height: 60vh;
      width: 100vw; } }
  .page1__img img {
    z-index: 0;
    width: 100%;
    height: 100%; }

@-webkit-keyframes move_wave {
  0% {
    -webkit-transform: translateX(0) translateZ(0) scaleY(1);
    transform: translateX(0) translateZ(0) scaleY(1); }
  50% {
    -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
    transform: translateX(-25%) translateZ(0) scaleY(0.55); }
  100% {
    -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
    transform: translateX(-50%) translateZ(0) scaleY(1); } }

@keyframes move_wave {
  0% {
    -webkit-transform: translateX(0) translateZ(0) scaleY(1);
    transform: translateX(0) translateZ(0) scaleY(1); }
  50% {
    -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
    transform: translateX(-25%) translateZ(0) scaleY(0.55); }
  100% {
    -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
    transform: translateX(-50%) translateZ(0) scaleY(1); } }

.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto; }
  @media (max-width: 970px) {
    .waveWrapper {
      display: none; } }

.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 20vh;
  bottom: -1px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #0051cb), color-stop(80%, #2c8dfb));
  background-image: -webkit-linear-gradient(bottom, #0051cb 20%, #2c8dfb 80%);
  background-image: -o-linear-gradient(bottom, #0051cb 20%, #2c8dfb 80%);
  background-image: linear-gradient(to top, #0051cb 20%, #2c8dfb 80%); }

.bgTop {
  z-index: 15;
  opacity: 0.5; }

.bgMiddle {
  z-index: 10;
  opacity: 0.75; }

.bgBottom {
  z-index: 5; }

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom; }
  @media (max-width: 970px) {
    .wave {
      display: none; } }

.waveTop {
  background-size: 50% 100px; }

.waveAnimation .waveTop {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.waveMiddle {
  background-size: 50% 120px; }

.waveAnimation .waveMiddle {
  -webkit-animation: move_wave 10s linear infinite;
  animation: move_wave 10s linear infinite; }

.waveBottom {
  background-size: 50% 100px; }

.waveAnimation .waveBottom {
  -webkit-animation: move_wave 15s linear infinite;
  animation: move_wave 15s linear infinite; }
