.swiper {
    height: 100%;
    width: 100%;
}
.swiper-wrapper {
    padding-top: 50px;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    text-align: center;
    font-weight: bold;
    background-color: #2C8DFB;
    background-position: center;
    background-size: cover;
    color: white;
}