/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
    /*transition: all .3s ease;*/
}
.slide-fade-leave-active {
    /*transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);*/
    transform: translateX(-10px);
    opacity: 0;
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}


.swiper {
    height: 100%;
    width: 100%;
}
.swiper-wrapper {
    padding-top: 50px;
}

.expanded-two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.swiper-button-next {
    opacity: 0;
    width: 30%;
    height: 50%;
}
.swiper-button-prev {
    opacity: 0;
    width: 30%;
    height: 50%;
}
.swiper-slide {
    display: flex;
    border-radius: 25px;
    border: 1px;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    text-align: center;
    font-weight: lighter;
    background-color: white;
    background-position: center;
    background-size: cover;
}
ul.dot {
    display: inline-block;
    text-align: left;
}
li.dot::before {
    content: "• ";
    color: #0180ff; /* or whatever color you prefer */
}
.button {
    text-decoration: none;
    width: 100px;
    height: 30px;
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    color: #00c7ec;
    border: 1px solid #00c7ec;
    border-radius: 5px;
    line-height: 3em;
    box-shadow: 0 0 0 0 transparent;
}
.button:hover {
    color: white;
    box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5);
    background-color: #00c7ec;
}

.button:active {
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.2s ease-in;
}
.button:before {
    content: '';
    opacity: 0;
    background: white;
    box-shadow: 0 0 15px 3px white;
    transform: skewX(-20deg);
}
.left-column-before {
    width: 200px;
}
body {
    background-color: #eef2f6;
}