/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
    /*transition: all .3s ease;*/
    position: absolute;
}
.slide-fade-leave-active {
    /*transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);*/
    transform: translateX(-10px);
    opacity: 0;
    position: absolute;
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
    position: absolute;
}


.swiper {
    height: 100%;
    width: 100%;
    justify-content: center;
    background-color: white;
}
.swiper-wrapper {
    padding-top: 50px;
    background-color: white;
}

.expanded-two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.selected-slider {
    border: 1px red;
}

.swiper-button-next {
    opacity: 0;
    width: 30%;
    height: 50%;
}
.swiper-button-prev {
    opacity: 0;
    width: 30%;
    height: 50%;
}
.swiper-slide {
    display: flex;
    border-radius: 25px;
    border: 1px;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 333px;
    text-align: center;
    font-weight: lighter;
    background-color: #0181fe;
    background-position: center;
    background-size: cover;
    color: black;
}
ul.dot {
    height: 480px;
    display: inline-block;
    text-align: left;
    background-color: white;
    color: black;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 20px;
    padding: 5px 10px 5px 5px;
}
li.dot::before {
    content: "• ";
    margin-left: 5px;
    color: #0180ff; /* or whatever color you prefer */
}
.button {
    text-decoration: none;
    width: 100px;
    height: 30px;
    background-color: #fed243;
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    border-radius: 5px;
    line-height: 3em;
    position: absolute;
    bottom: -150px;
    right: 1px;
    box-shadow: 0 0 0 0 transparent;
}
.button:hover {
    color: white;
    box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5);
    background-color: #fed243;
}

.button:active {
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.2s ease-in;
}
.button:before {
    content: '';
    opacity: 0;
    background: white;
    box-shadow: 0 0 15px 3px white;
    transform: skewX(-20deg);
}
.left-column-before {
    width: 200px;
}