.staps {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  margin-left: 0px;
  padding-left: 30px; }

.timeline {
  list-style: none;
  padding: 5px 0 0px;
  position: relative; }

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 0;
  margin-left: -1.5px; }
  @media (max-width: 1483px) {
    .timeline:before {
      margin-left: 38px; } }

.timeline > li {
  margin-bottom: 20px;
  position: relative; }

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table; }

.timeline > li:after {
  clear: both; }

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table; }

.timeline > li:after {
  clear: both; }

.timeline > li > .timeline-panel {
  width: 75%;
  float: left;
  padding: 0 0 0 20px;
  position: relative; }
  @media (max-width: 576px) {
    .timeline > li > .timeline-panel {
      padding: 0 0 0 5px; } }

.timeline > li > .timeline-badge {
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 50px;
  font-size: 2.5em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 0;
  margin-left: -40px;
  padding-top: 12px;
  background-color: #fed243;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%; }
  @media (max-width: 1483px) {
    .timeline > li > .timeline-badge {
      margin-left: 0px; } }

.timeline > li > .clsasd1 {
  top: 150px;
  width: 20px;
  height: 20px;
  margin-left: -10px; }

.timeline > li > .clsasd2 {
  top: 250px;
  width: 20px;
  height: 20px;
  margin-left: -10px; }

.timeline > li > .clsasd3 {
  top: 350px;
  width: 20px;
  height: 20px;
  margin-left: -10px; }

.timeline > li > .clsasd4 {
  top: 450px;
  width: 20px;
  height: 20px;
  margin-left: -10px; }

.timeline > li > .clsasd5 {
  top: 550px;
  width: 20px;
  height: 20px;
  margin-left: -10px; }

.timeline > li > .clsasd6 {
  top: 650px;
  width: 20px;
  height: 20px;
  margin-left: -10px; }

.timeline > li > .clsasd7 {
  top: 750px;
  width: 20px;
  height: 20px;
  margin-left: -10px; }

.timeline > li > .clsasd8 {
  top: 850px;
  width: 20px;
  height: 20px;
  margin-left: -10px; }

@media (max-width: 1483px) {
  .timeline > li > .claseda {
    margin-left: 30px; } }

.man {
  position: relative; }
  .man img {
    z-index: 9999;
    position: absolute;
    left: -120px;
    top: 20vh; }
    @media (max-width: 1483px) {
      .man img {
        left: -110px;
        top: 30vh; } }
    @media (max-width: 819px) {
      .man img {
        display: none; } }

.timeline > li.timeline-inverted > .timeline-panel {
  /*float: left;
  width: 100%;
    @media (max-width: 576px) {
   width: 110%;
   margin-left: -20px;
  }
 display: flex;
 justify-content: center;*/
  height: 100%; }

.timeline-badge.primary {
  background-color: #fed243 !important; }

.timeline-badge.success {
  background-color: #fed243 !important; }

.timeline-badge.warning {
  background-color: #fed243 !important; }

.timeline-badge.danger {
  background-color: #fed243 !important; }

.timeline-badge.info {
  background-color: #fed243 !important; }

.timeline-title {
  margin-top: 0;
  color: inherit; }

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0; }

.timeline-body > p + p {
  margin-top: 5px; }

.panel__text {
  z-index: 999999;
  font-size: 3em;
  width: 100vw;
  margin-left: 20px; }
  @media (max-width: 1483px) {
    .panel__text {
      margin-left: 100px; } }
  @media (max-width: 857px) {
    .panel__text {
      font-size: 2em; } }
  @media (max-width: 576px) {
    .panel__text {
      margin-top: 20px;
      margin-left: 50px;
      font-size: 1.8em; } }
  @media (max-width: 435px) {
    .panel__text {
      font-size: 1.5em; } }

.panel__blocks {
  z-index: 200;
  width: 100vw;
  margin-left: 350px;
  width: 70%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 1471px) {
    .panel__blocks {
      width: 90vw; } }
  @media (max-width: 576px) {
    .panel__blocks {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding-bottom: 10px; } }

.panel__block {
  min-width: 200px;
  background-color: #73c8ff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px; }
  @media (max-width: 939px) {
    .panel__block {
      padding: 5px; } }
  @media (max-width: 576px) {
    .panel__block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .panel__block:hover {
    padding: 30px; }

.panel_block__img {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 30%;
  flex: 1 1 30%;
  width: 200px; }
  .panel_block__img img {
    width: 100%;
    height: 100%; }
  @media (max-width: 939px) {
    .panel_block__img {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
      flex: 0 0 50px;
      width: 100px; } }
  @media (max-width: 576px) {
    .panel_block__img {
      width: 70px; } }

.panel_block__name {
  width: 100%;
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 20%;
  flex: 1 0 20%;
  font-size: 2em;
  border-bottom: 5px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (max-width: 576px) {
    .panel_block__name {
      width: 70px;
      font-size: 20px; } }

.panel_block__text {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 30%;
  flex: 1 0 30%; }

.panel_block__btn {
  text-align: center;
  color: #fff;
  border-radius: 30px;
  width: 50%;
  padding: 10px 30px;
  background-color: #2a214d;
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer; }
  @media (max-width: 939px) {
    .panel_block__btn {
      margin-bottom: 5px;
      margin-top: 1px; } }
